.popup-content {
    padding: 10px;
    width: 250px; /* Adjust width as needed */
    z-index: 9999; /* Ensure this is higher than the sidebar's z-index */
    position: relative; /* Ensure proper positioning */
  }
  
  .user-list {
    max-height: 300px; /* Adjust height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
  }
  
  .user-item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .contacts-button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contacts-button:hover {
    background-color: #0056b3;
  }
  