/* Ensure this file is imported in your component or main CSS file */

.sidebar-button {
    background-color: #282e33;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebar-button:hover {
    background-color: #333; /* Darker shade for hover effect */
  }
  
  .sidebar-button:focus {
    outline: none;
  }
  
  .sidebar-button span {
    margin-left: 10px;
  }
  