@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
	:root {
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;

		--sidebar-bg-color: #1d1d1d;
		--submenu-bg-color: rgba(255, 255, 255, 0.05);
		--submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
		--sidebar-color: #adadad;
		--highlight-color: #d8d8d8;
		--icon-bg-color: rgba(255, 255, 255, 0.05);
		--icon-size: 35px;
	}
}



body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	*::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}

	*::-webkit-scrollbar-thumb {
		border-radius: calc(var(--radius) - 4px);
		background-color: hsl(var(--muted-foreground) / 0.3) !important;
	}

	body::-webkit-scrollbar {
		background-color: #fafafa;
		width: 7px;
	}

	body::-webkit-scrollbar-thumb {
		background-color: var(--primary);
		border-radius: 40px;
	}
}

.footer-divider {
	width: 80%;
	margin: 0 auto 16px;
	border: 1px solid #ccc;
	/* Customize the color to match your theme */
}

.sidebar-btn-wrapper {
	padding: 16px;
}

.sidebar-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
	/* Customize the color to match your theme */
	text-decoration: none;
	font-size: 16px;
	transition: color 0.3s ease;
}

.sidebar-btn:hover {
	color: #007bff;
	/* Customize the hover color */
}

.sidebar-btn span {
	margin-left: 8px;
}

.sidebar-bg-color {
	color: #282e33;
}

.submenu-bg-color-collapsed {
	color: rgba(29, 29, 29, 0.95);
}

.sidebar-color {
	color: #adadad;
}

.highlight-color {
	color: #d8d8d8;
}

.icon-bg-color {
	color: rgba(255, 255, 255, 0.05);
}

.icon-size {
	size: 35px;
}
