/* Layout.css */
.layout-container {
    display: flex;
    min-height: 100vh; /* Full height of the viewport */
  }
  
  .sidebar {
    width: 250px; /* Set the desired width */
    /* Additional sidebar styles */
  }
  
  .content-container {
    flex: 1; /* Take the remaining space */
    padding: 20px; /* Optional padding */
    overflow-y: auto; /* Scroll if content overflows */
  }
  